.login {
  &-wrapper {
    &.MuiCard-root {
      padding: 50px 15px;
      box-shadow: none;
      background: #6c6c6c;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      border-radius: 0px;
      overflow: auto;
    }
    &-inner {
      max-width: 530px;
      margin: 0 auto;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
      .MuiCardHeader {
        &-root {
          text-align: center;
          padding: 22px 16px;
          background-color: #065492;
        }
        &-title {
          font-size: 30px;
          font-weight: bold;
          color: #fff;
          @media (max-width: 1400px) {
            font-size: 25px;
          }
        }
      }
      .MuiCardContent-root {
        background-color: #fff;
        padding: 25px 40px 30px;
        @media (max-width: 575px) {
          padding: 20px;
        }
      }
    }
  }
  &-formwrap {
    label {
      font-weight: 600;
      margin-bottom: 10px;
      font-size: 18px;
    }
    .MuiFormControl {
      &-root {
        & .MuiOutlinedInput-root {
          & .MuiInputAdornment-positionStart ~ input {
            padding-left: 4px;
            border-radius: 0;

          }
        }
      }
    }
    .MuiFormHelperText-root {
      margin-left: 0;
      margin-right: 0;
    }
    .MuiButtonBase-root.login-btn {
      &.login-btn {
        font-size: 16px;
        box-shadow: none;
        border-radius: 50px;
        padding: 13px 10px;
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }
}

.wtg {
  &-wrapper {
    .MuiBox-root {
      max-height: calc(90vh - 80px);
      overflow: auto;
      margin-bottom: 0;
  
      @media screen and (max-width: 1200px) {
          max-height: calc(100vh - 60px);
      }
  
       &::-webkit-scrollbar-track {
          background-color: transparent;
      }
  
      &::-webkit-scrollbar {
          width: 3px;
          background-color: transparent;
      }
  
      &::-webkit-scrollbar-thumb {
          background-color: #1c5492;
          border-radius: 10px;
      }
    }

    &-inner {
      margin: 0 auto;
      overflow: hidden;
      box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
      .MuiCardHeader {
        &-root {
          text-align: center;
          padding: 22px 16px;
          background-color: #065492;
        }
        &-title {
          font-size: 30px;
          font-weight: bold;
          color: #fff;
          @media (max-width: 1400px) {
            font-size: 25px;
          }
        }
      }
      .MuiCardContent-root {
        padding: 35px 40px 35px;
        @media (max-width: 575px) {
          padding: 20px;
        }
      }
    }
  }

}

.tabCardList {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 0px 15px;
  @media (max-width: 450px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .tabCard {
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 215px;
    position: relative;
    box-shadow: 3px 3px 12px #00000021;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
    &.tabRecognition{
      // border: 1px solid #707070;
      // border-top: 0;
      h4 {
        background: #D85E42;
        box-shadow: -2px 0px 5px 0px #D85E42;
      } 

    }
    &.tabEngagement{
      border: 2px solid #225FA0;
      h4{
        box-shadow: -2px 0px 5px 0px #225FA0;
      }

      // border-top: 0;
    }
    h4 {
      margin: 0;
      font-size: 20px;
      padding: 18px 15px 12px;
      background: #225FA0;
      color: #fff;
      position: relative;
      z-index: 1;
      text-align: center;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      transform: translate(-50%, -50%);
      width: 100%;
      object-fit: cover;
    }
  }
}
